body{
    height: 100%;
}

header{
    top: 0;
}

footer{
    background-color: #462755;
    height: 150px;
    color: white;
    text-align: center;
    padding-top: 10px; 
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    position: relative;
       
}

footer p{
    margin: 0 auto;
    padding: 0;    
}

.footer-title{
    font-weight: bold;
    padding-bottom: 10px;    
}

.footer-email{
    padding: 10px 0;
}